<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <%= link_to 'CryptoDesk', root_path, class: 'navbar-brand' %>
    <a class="btn btn-primary" href="#">Sign In</a>
  </div>
</nav>
